{% extends 'base.html' %}
{% block sidebar %}
{% include 'components/header.html' %}
{% endblock %}
{% block content %}
{% load static %}


<div class="grid grid-cols-4">
  <section class="col-span-3 text-gray-600 body-font h-20 mb-8">
    <div class="containe px-5 pt-4 mx-auto">
      <div class="flex flex-wrap -m-4 text-center">
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">0/50</h2>
          <p class="leading-relaxed">デッキ枚数</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">0/-</h2>
          <p class="leading-relaxed">デッキレベル</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">0/-</h2>
          <p class="leading-relaxed">カウンター</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">0/-</h2>
          <p class="leading-relaxed">所属軍</p>
        </div>       
         <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">0/-</h2>
          <p class="leading-relaxed">レジェンド</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">4/-</h2>
          <p class="leading-relaxed">同名カード</p>
        </div>
        
      </div>
    </div>
  </section>
  <div class="col-span-1 bg-gray-100">
    <p class="text-center pt-5 text-xl">デッキ作成</p>
    <span class="block text-center">カードを選択してください</span>
  </div>
<section class="col-span-3 text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/media/{{ items.0.image }}">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">第{{ items.0.series }}弾</h3>
            <h2 class="text-white title-font text-lg font-medium">{{ items.0.name_japan }}</h2>
            <p class="mt-1"></p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/421x261">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">シリーズ</h3>
            <h2 class="text-white title-font text-lg font-medium">name</h2>
            <p class="mt-1"></p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/422x262">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">シリーズ</h3>
            <h2 class="text-white title-font text-lg font-medium">name</h2>
            <p class="mt-1"></p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/423x263">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">シリーズ</h3>
            <h2 class="text-white title-font text-lg font-medium">name</h2>
            <p class="mt-1"></p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/424x264">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">シリーズ</h3>
            <h2 class="text-white title-font text-lg font-medium">name</h2>
            <p class="mt-1"></p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/425x265">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">シリーズ</h3>
            <h2 class="text-white title-font text-lg font-medium">name</h2>
            <p class="mt-1"></p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/427x267">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">シリーズ</h3>
            <h2 class="text-white title-font text-lg font-medium">name</h2>
            <p class="mt-1"></p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/428x268">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">シリーズ</h3>
            <h2 class="text-white title-font text-lg font-medium">name</h2>
            <p class="mt-1"></p>
          </div>
        </div>
      </div>
      <div class="text-right m-8">
      <button class="px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
        デッキ作成
    </button>
  </div>
    </div>
  </section>

  <div class="col-span1">

  <iframe src="{% url 'ifrafunc' %}" width="600" height="800">
  
</iframe>
</div>

</div>
{% endblock %}
